@(deviceConfigurationForm: Form[model.DeviceConfiguration] , deviceConfigs:List[String], componentCollection: model.ReadableComponentCollection, type2Desc:(Int=>String))

@main("View my Components") {
<div style="width:400px;" xmlns="http://www.w3.org/1999/html">

    @helper.select(
      deviceConfigurationForm("deviceConfiguration"),
      helper.options(deviceConfigs),
      '_label -> "Current Configuration", '_default -> "-- Select configuration --"
    )

    <br><br>

    <fieldset>
    <legend>Monitors <a href="monitor-create">+</a></legend>
    <table>
        <tr>
            <th>Id</th><th>Description</th><th>Sensor</th><th>Booster</th>
        </tr>
        @componentCollection.monitors.map {monitor =>
        <tr>
            <td>@monitor.id</td> <td>@monitor.description</td>
            <td>@monitor.sensor.description</td> <td>@monitor.increaser.description</td>
            <td><a href="monitor-edit?monitorId=@monitor.id">Edit</a></td>
            <td><a href="monitor-delete?monitorId=@monitor.id">Delete</a></td>
        </tr>
        }
    </table>
    </fieldset>



    <fieldset>
    <legend>Devices <a href="device-create">+</a></legend>
    <table>
        <tr>
        <th>Id</th><th>Description</th><th>DeviceType</th><th>Channel</th><th>Units</th><th>Conversion Factor</th>
            <th>Conversion Offset</th><th>Number of Decimal Places</th>
        </tr>
        @componentCollection.devices.map {device =>
        <tr>
            <td>@device.id</td> <td>@device.description</td> <td>@type2Desc(device.deviceType)</td> <td>@device.port</td>
            <td>@device.units</td> <td>@device.conversionFactor</td> <td>@device.conversionOffset</td>
            <td>@device.decimalPlaces</td>
            <td><a href="device-edit?deviceId=@device.id">Edit</a></td>
            <td><a href="device-delete?deviceId=@device.id">Delete</a></td>
        </tr>
    }
        </table>
    </fieldset>

</div>
}
