@(sequences:List[String], deviceConfigs:List[String])

@main("Configuration Selector") {



<div style="width:400px;" xmlns="http://www.w3.org/1999/html">
    <h2>Sequences:</h2>

    @helper.form(action = controllers.routes.DeviceEdit.submit()){

        <ul>
        @sequences.map {sequence =>
          <li> @sequence <a href="">Select</a> <a href="">Edit</a></li>
        }
        </ul>

        <h2>Hardware Configuration:</h2>
        <ul>
            @deviceConfigs.map {deviceConfig =>
        <li> @deviceConfig <a href="">Select</a> <a href="">Edit</a></li>
        }
        </ul>

    }
</div>
}
