
@(sequence: model.ReadableSequence, componentCollection: model.ComponentCollection)

@main("Beer Title") {
<div style="width:400px;" xmlns="http://www.w3.org/1999/html">
    <fieldset>
        <legend>Thermostats</legend>
        @componentCollection.thermostats.map {thermostat =>
        <fieldset>
            <legend>@thermostat.description</legend>
        <p> <label>Enabled:</label>
            @Html("<input type=\"radio\" name=\"thermostat-enabled"+thermostat.id+"\" id=\"thermostat-true"+thermostat.id + "\" value=\"true\" onclick=\"makeCall('"+thermostat.id+"', 'true')\">On "+
                  "<input type=\"radio\" name=\"thermostat-enabled"+thermostat.id+"\" id=\"thermostat-false"+thermostat.id + "\" value=\"false\" onclick=\"makeCall('"+thermostat.id+"', 'false')\" checked>Off ")
        </p>
        <p><label>Temperature:</label>
            @Html("<button id=\"device-down\"+thermostat.id class=\"button\" onclick=\"makeCall('"+thermostat.id+"', 'ddown')\"><<</button>" +
            "<button id=\"-\"  class=\"button\" value=\"Next\" onclick=\"makeCall('"+thermostat.id+"', 'down')\"><</button> " +
            "<span id=\"thermostat-temperature" + thermostat.id + "\"> 0 &deg;c </span>" +
            " <button id=\"+\"  class=\"button\" value=\"Next\" onclick=\"makeCall('"+thermostat.id+"', 'up')\">></button>" +
            "<button id=\"+\"  class=\"button\" value=\"Next\" onclick=\"makeCall('"+thermostat.id+"', 'dup')\">>></button>")
        </p>
        <p><label>Thermometer:&nbsp;</label>
            @Html("<span id=\"thermostat-thermometer" + thermostat.id + "\"> 0 &deg;c </span>")
        </p>
        <p><label>Heater:</label>
            @Html("<span id=\"thermostat-heater" + thermostat.id + "\"> 0 % </span>")
        </p>
        </fieldset>
        }
    </fieldset>

    <fieldset>
        <legend>Devices</legend>
    @componentCollection.devices.map {device =>
        <p id="device@device.id">
            <label id="deviceDesc@device.id">@device.id: @device.description:&nbsp;</label>
            @{device.deviceType match {
                case 0 => Html("<span id=\"device-val"+device.id + "\"> 0 seconds </span>")
                case 1 => Html("<span id=\"device-val"+device.id + "\"> 0 &deg;c </span>")
                case 2 => {
                    Html("<button id=\"device-down\"+device.id class=\"button\" onclick=\"makeCall('"+device.id+"', 'ddown')\"><<</button>" +
                    "<button id=\"-\"  class=\"button\" value=\"Next\" onclick=\"makeCall('"+device.id+"', 'down')\"><</button> " +
                    "<span id=\"device-val" + device.id + "\"> 0 % </span>" +
                    " <button id=\"+\"  class=\"button\" value=\"Next\" onclick=\"makeCall('"+device.id+"', 'up')\">></button>" +
                    "<button id=\"+\"  class=\"button\" value=\"Next\" onclick=\"makeCall('"+device.id+"', 'dup')\">>></button>")
                }
                case 3 => Html("<span>Button</span>")
                case 4 => Html("<input type=\"radio\" name=\"device-name"+device.id+"\" id=\"device-true"+device.id + "\" value=\"true\" onclick=\"makeCall('"+device.id+"', 'true')\">On "+
                           "<input type=\"radio\" name=\"device-name"+device.id+"\" id=\"device-false"+device.id + "\" value=\"false\" onclick=\"makeCall('"+device.id+"', 'false')\" checked>Off ")
                case _ => Html("<b>Bad Device</b>")
            }}
        </p>
        }

    </fieldset>


    <fieldset>
        <legend>Program</legend>
        <table class="program">
            <tr><th>#</th><th>Component</th><th>Action</th></tr>
            @sequence.friendlySteps.map {step =>
            <tr id="step@step.stepId">
                <td>@step.stepId</td>
                <td id="stepDevice@step.stepId">@step.deviceDesc</td>
                <td id="stepDesc@step.stepId">@step.eventDesc @step.temperature @step.duration</td>
            </tr>
            }
        </table>
    </fieldset>


    <p class="form-field">
        <button id="startButton" onclick="startSequencer()" class="button" value="Next">@Messages("Start")</button>
        <button id="stopButton" onclick="stopSequencer()" class="button" value="Next">@Messages("Abort")</button>
    </p>
</div>
}
