
@(sequence: model.FriendlySequence)

@main("Beer Title") {
<div style="width:400px;">
    <fieldset>
        <legend>Thermostats</legend>
        <fieldset>
            <legend>Boiler</legend>
        <p>
            <label></label>
            <input type="radio" name="boiler" value="on" checked>On
            <input type="radio" name="boiler" value="off" checked>Off
        </p>
        <p>
            <label>Temperature:</label>
            <input type="number" min="0" max="100" value="22" size="3">&deg;c
        </p>
        <p>
            <label>Thermometer:</label>
            20 &deg;c
        </p>
        <p>
            <label>Heater:</label>
            100%
        </p>
        </fieldset>
    </fieldset>

    <fieldset>
        <legend>Devices</legend>
    <p>
        <label>Pump:</label>
        <input type="radio" name="pump" value="on" checked>On
        <input type="radio" name="pump" value="off" checked>Off
    </p>
    <p>
        <label>Thermometer:</label>
        22 &deg;c
    </p>
    <p>
        <label>Heater:</label>
        <input type="number" min="0" max="100" maxlength="3" value="100">%
    </p>
    </fieldset>


    <fieldset>
        <legend>Program</legend>
        <table>
            <tr><th>Component</th><th>Action</th></tr>
            @sequence.friendlySteps.map {step =>
            <tr>
                <td>@step.deviceDesc</td>
                <td>@step.eventDesc @step.temperature @step.duration</td>
            </tr>
            }
        </table>
    </fieldset>


    <p class="form-field">
        <button type="submit" class="button" value="Next">@Messages("Start")</button>
    </p>

</div>
}
