@(title: String)(content: Html)
<!-- The Template Outline-->
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="@routes.StatusController.javascriptRoutes"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/sequencer.js")"></script>
    </head>
    <body>
        @content
    </body>
</html>
